<main id="pwat-home">
  <div class="pwat-home-banner pwat-col-12">
          <!-- BANNER DA HOME -->
              <div id="pwat-swiper-banner" class="swiper-container " pwa-hook="swiper-banner-home">
                  <div class="swiper-wrapper">
                      <div class="swiper-slide">
                          <div class="pwat-banner-img">
                              <img pwa-src="bg-calcinhas-section-1" />
                          </div>
                      </div>
                      <div class="swiper-slide">
                          <div class="pwat-banner-img">
                              <img pwa-src="bg-calcinhas-section-1" />
                          </div>
                      </div>
                      <div class="swiper-slide">
                          <div class="pwat-banner-img">
                              <img pwa-src="bg-calcinhas-section-1" />
                          </div>
                      </div>
                      <div class="swiper-slide">
                          <div class="pwat-banner-img">
                              <img pwa-src="bg-calcinhas-section-1" />
                          </div>
                      </div>
                      <div class="swiper-slide">
                          <div class="pwat-banner-img">
                              <img pwa-src="bg-calcinhas-section-1" />
                          </div>
                      </div>
                  </div>

                  

                  <div id="pwat-swiper-banner-home-pagination" class="swiper-pagination pwat-swiper-paginacao pwat-swiper-paginacao-calcinha pwat-estilo-bullets "></div>

                  <div class="pwat-estilo-paginacao">
                      <div id="pwat-swiper-banner-home-prev" class="swiper-button-prev">
                          <img pwa-src="arrow-left"/>
                      </div>
                      <div id="pwat-swiper-banner-home-next" class="swiper-button-next">
                          <img pwa-src="arrow-right"/>
                      </div>
                  </div>
              </div>
          <!-- FIM BANNER HOME-->
      </div>

      <div class="pwat-home-banner-bottom-infos pwat-d-flex pwat-justify-content-center pwat-align-items-center pwat-flex-column pwat-flex-lg-row pwat-px-24 pwat-text-center">
          <p class="pwat-home-banner-info">frete grátis acima de <span>R$ 299</span></p>
          <p class="pwat-home-banner-info-separator">•</p>
          <p class="pwat-home-banner-info">em até<span> 6x sem juros</span></p>
      </div>

      <div class="pwat-home-produto-tipo-wrapper">
          <div class="pwat-container-fluid">
              <div class="pwat-home-produtos-tipo pwat-d-flex pwat-flex-wrap">
                  <section
                      class="pwat-home-produto-coletor pwat-home-produto-tipo pwat-d-flex pwat-justify-content-center pwat-align-items-center pwat-col-12 pwat-col-lg-6">
                      <div class="pwat-home-produto-img">
                          <img pwa-src="produto-coletor" alt="coletor menstrual" />
                      </div>
                      <div class="pwat-home-produto-info-bg">
                          <div class="pwat-home-produto-info">
                              <h2 class="pwat-home-produto-title pwat-baginda">Coletor <span
                                      class="pwat-baginda">menstrual</span></h2>
                              <div class="pwat-home-produto-info-flex pwat-d-flex pwat-align-items-center">
                                  <ul class="pwat-home-produto-info-list">
                                    <li>
                                        <img pwa-src="produto-item-list-icon" alt="item da lista" />
                                        <p>Hipoalergênico</p>
                                    </li>
                                      <li>
                                          <img pwa-src="produto-item-list-icon" alt="item da lista" />
                                          <p>12h de proteção</p>
                                      </li>
                                      <li>
                                          <img pwa-src="produto-item-list-icon" alt="item da lista" />
                                          <p>sustentável</p>
                                      </li>
                                      <li>
                                          <img pwa-src="produto-item-list-icon" alt="item da lista" />
                                          <p>Econômico</p>
                                      </li>
                                  </ul>

                                  <a pwa-to-page="/coletor-menstrual" class="pwat-btn pwat-btn-orange">
                                      veja mais
                                  </a>
                              </div>
                          </div>
                      </div>
                  </section>

                  <section
                      class="pwat-home-produto-disco pwat-home-produto-tipo pwat-d-flex pwat-justify-content-center pwat-align-items-center pwat-col-12 pwat-col-lg-6">
                      <div class="pwat-home-produto-img">
                          <img pwa-src="produto-disco" alt="Disco Menstrual" />
                      </div>
                      <div class="pwat-home-produto-info-bg">
                          <div class="pwat-home-produto-info">
                              <h2 class="pwat-home-produto-title pwat-baginda">Disco <span
                                      class="pwat-baginda">menstrual</span></h2>
                              <div class="pwat-home-produto-info-flex pwat-d-flex pwat-align-items-center">
                                  <ul class="pwat-home-produto-info-list">
                                      <li>
                                          <img pwa-src="produto-item-list-icon" alt="item da lista" />
                                          <p>Sexo sem bagunça</p>
                                      </li>
                                      <li>
                                          <img pwa-src="produto-item-list-icon" alt="item da lista" />
                                          <p>hipoalergênico</p>
                                      </li>
                                      <li>
                                          <img pwa-src="produto-item-list-icon" alt="item da lista" />
                                          <p>sustentável</p>
                                      </li>
                                      <li>
                                          <img pwa-src="produto-item-list-icon" alt="item da lista" />
                                          <p>Econômico</p>
                                      </li>
                                  </ul>

                                  <a pwa-to-page="/disco-menstrual" class="pwat-btn pwat-btn-orange">
                                      veja mais
                                  </a>
                              </div>
                          </div>
                      </div>
                  </section>

                  <section
                      class="pwat-home-produto-calcinha pwat-home-produto-tipo pwat-d-flex pwat-justify-content-center pwat-align-items-center pwat-col-12 pwat-col-lg-6">
                      <div class="pwat-home-produto-img">
                          <img pwa-src="produto-calcinha" alt="calcinha menstrual" />
                      </div>
                      <div class="pwat-home-produto-info-bg">
                          <div class="pwat-home-produto-info">
                              <h2 class="pwat-home-produto-title pwat-baginda">Calcinha<span
                                      class="pwat-baginda">menstrual</span></h2>
                              <div class="pwat-home-produto-info-flex pwat-d-flex pwat-align-items-center">
                                  <ul class="pwat-home-produto-info-list">
                                      <li>
                                          <img pwa-src="produto-item-list-icon" alt="item da lista" />
                                          <p>Tecnologia exclusiva</p>
                                      </li>
                                      <li>
                                          <img pwa-src="produto-item-list-icon" alt="item da lista" />
                                          <p>ultrafina</p>
                                      </li>
                                      <li>
                                          <img pwa-src="produto-item-list-icon" alt="item da lista" />
                                          <p>Alta absorção</p>
                                      </li>
                                      <li>
                                          <img pwa-src="produto-item-list-icon" alt="item da lista" />
                                          <p>Reultilizável</p>
                                      </li>
                                  </ul>

                                  <a pwa-to-page="calcinha-menstrual" class="pwat-btn pwat-btn-orange">
                                      veja mais
                                  </a>
                              </div>
                          </div>
                      </div>
                  </section>

                  <section
                      class="pwat-home-produto-absorvente pwat-home-produto-tipo pwat-d-flex pwat-justify-content-center pwat-align-items-center pwat-col-12 pwat-col-lg-6">
                      <div class="pwat-home-produto-img">
                          <img pwa-src="produto-absorvente" alt="absorvente" />
                      </div>
                      <div class="pwat-home-produto-info-bg">
                          <div class="pwat-home-produto-info">
                              <h2 class="pwat-home-produto-title pwat-baginda">Absorvente</h2>
                              <div class="pwat-home-produto-info-flex pwat-d-flex pwat-align-items-center">
                                  <ul class="pwat-home-produto-info-list">
                                      <li>
                                          <img pwa-src="produto-item-list-icon" alt="item da lista" />
                                          <p>Discretos</p>
                                      </li>
                                      <li>
                                          <img pwa-src="produto-item-list-icon" alt="item da lista" />
                                          <p>Tecnologia<br>Exclusiva</p>
                                      </li>
                                      <li>
                                          <img pwa-src="produto-item-list-icon" alt="item da lista" />
                                          <p>Alta absorção</p>
                                      </li>
                                  </ul>

                                  <a pwa-to-page="absorvente-reutilizavel" class="pwat-btn pwat-btn-orange">
                                      veja mais
                                  </a>
                              </div>
                          </div>
                      </div>
                  </section>
              </div>
          </div>
      </div>

      <div class="pwat-bg-top-bottom">
          <img pwa-src="bg-kits-top">
      </div>
      <div class="pwat-home-kits-bg">
          <section class="pwat-home-kits">
              <h2 class="pwat-text-center pwat-kits-title">kits <span class="pwat-baginda">na sua
                      medida</span></h2>
              <div class="pwat-container ">

              <pwa-product-list name="kits"  size="3" class="pwat-row pwat-card-wrapper pwat-d-flex pwat-justify-content-between pwat-flex-wrap" pwa-hook="prepara-hover">
                      <div pwa-each-product class="pwat-col-sm-6 pwat-col-lg-4 pwat-mb-32 pwat-mx-auto">
                      <!-- <div pwa-each-product class="pwat-col-12 pwat-col-lg-4"> -->
                              <pwa-product-card>
                      </div>
              </pwa-product-list>

                  <div class="pwat-row">
                    <div class="pwat-btns-kits pwat-d-flex pwat-flex-column pwat-flex-xl-row pwat-col-12 pwat-justify-content-center pwat-align-items-center">
                        <a pwa-to-page="/catalogsearch/result/kits?pwaf_tamanho=A" class=" pwat-py-16 pwat-btn pwat-btn-two">
                          ver tudo do tamanho A
                        </a>

                        <a pwa-to-page="/catalogsearch/result/kits?pwaf_tamanho=B" class="pwat-btn-home-middle pwat-py-16 pwat-btn pwat-btn-one pwat-mx-xl-64">
                          ver tudo do tamanho B
                        </a>

                        <a pwa-to-page="/catalogsearch/result/kits?pwaf_tamanho=Teen" class=" pwat-py-16 pwat-btn pwat-btn-purple">
                          ver tudo do tamanho Teen
                        </a>
                    </div>
                  </div>
              </div>
          </section>
      </div>

      <div class="pwat-home-disco-wrapper">
          <div class="pwat-bg-top-bottom">
              <img pwa-src="bg-home-disco-top">
          </div>
          <section class="pwat-home-disc-lovin">
              <h2 class="pwat-text-center pwat-section-title">Disco Menstrual <span class="pwat-baginda">Lovin</span></h2>

               <div class="pwat-container-fluid pwat-no-padding ">
                  <pwa-product-list name="produtos-home-disco" filter="name: disco" size="10" class="pwat-container-reduzido swiper-container" id="pwat-produtos-home-disco">
                      <div class="swiper-wrapper">
                          <div pwa-each-product class="swiper-slide">
                              <pwa-product-card>
                          </div>
                      </div>
                      <div class="swiper-pagination pwat-swiper-paginacao pwat-swiper-paginacao-calcinha pwat-estilo-bullets"></div>
                  </pwa-product-list>
                  <div class="pwat-estilo-paginacao">
                      <div id="pwat-swiper-disco-home-prev" class="swiper-button-prev">
                          <img pwa-src="arrow-left"/>
                      </div>
                      <div id="pwat-swiper-disco-home-next" class="swiper-button-next">
                          <img pwa-src="arrow-right"/>
                      </div>
                  </div>
              </div>

              <div class="pwat-mt-32">
                <div class="pwat-btns-calcinhas pwat-d-flex pwat-col-12 pwat-justify-content-center pwat-flex-wrap">
                  <a pwa-to-search="disco menstrual" class="pwat-btn pwat-btn-purple-bold pwat-py-16 pwat-px-32">
                    Ver todos os discos
                  </a>
                </div>
              </div>
          </section>

          <div class="pwat-bg-top-bottom">
            <img pwa-src="bg-disco-video-bottom">
          </div>
      </div>

      <section class="pwat-home-calcinhas">
               <h2 class="pwat-text-center pwat-section-title">calcinha <span class="pwat-baginda">absorvente</span></h2>

               <div class="pwat-container-fluid pwat-no-padding ">
                  <pwa-product-list name="produtos-home-calcinha" filter="name : calcinhas" size="10" class="pwat-container-reduzido swiper-container" id="pwat-produtos-home-calcinha">
                      <div class="swiper-wrapper">
                          <div pwa-each-product class="swiper-slide">
                              <pwa-product-card>
                          </div>
                      </div>
                      <div class="swiper-pagination pwat-swiper-paginacao pwat-swiper-paginacao-calcinha pwat-estilo-bullets"></div>
                  </pwa-product-list>
                  <div class="pwat-estilo-paginacao">
                      <div id="pwat-swiper-calcinha-home-prev" class="swiper-button-prev">
                          <img pwa-src="arrow-left"/>
                      </div>
                      <div id="pwat-swiper-calcinha-home-next" class="swiper-button-next">
                          <img pwa-src="arrow-right"/>
                      </div>
                  </div>
              </div>

              <div class="pwat-mt-32">
                <div class="pwat-btns-calcinhas pwat-d-flex pwat-col-12 pwat-justify-content-center pwat-flex-wrap">
                  <a pwa-to-search="Calcinhas" class="pwat-btn pwat-btn-purple-bold pwat-py-16 pwat-px-32">
                    Ver todos as calcinhas
                  </a>
                </div>
              </div>
      </section>


      <div class="pwat-home-absorvente-wrapper">
          <div class="pwat-bg-top-bottom">
              <img pwa-src="bg-absorvente-top" />
          </div>
          <section class="pwat-home-absorvente">
                  <h2 class="pwat-text-center pwat-section-title">absorvente <span class="pwat-baginda">reutilizavel</span></h2>

                  <div class="pwat-container-fluid pwat-no-padding ">
                      <pwa-product-list name="produtos-home-absorvente" filter="name: Absorvente Reutilizável" size="10" class="pwat-container-reduzido swiper-container" id="pwat-produtos-home-absorvente">
                          <div class="swiper-wrapper">
                              <div pwa-each-product class="swiper-slide">
                                  <pwa-product-card>
                              </div>
                          </div>
                          <div class="swiper-pagination pwat-swiper-paginacao pwat-swiper-paginacao-calcinha pwat-estilo-bullets"></div>
                      </pwa-product-list>
                      <div class="pwat-estilo-paginacao">
                          <div id="pwat-swiper-absorvente-home-prev" class="swiper-button-prev">
                              <img pwa-src="arrow-left"/>
                          </div>
                          <div id="pwat-swiper-absorvente-home-next" class="swiper-button-next">
                              <img pwa-src="arrow-right"/>
                          </div>
                      </div>
                  </div>

                  <div class="pwat-mt-32">
                    <div class="pwat-btns-calcinhas pwat-d-flex pwat-col-12 pwat-justify-content-center pwat-flex-wrap">
                      <a pwa-to-search="Absorvente" class="pwat-btn pwat-btn-purple-bold pwat-py-16 pwat-px-32">
                        Ver todos os absorventes
                      </a>
                    </div>
                  </div>
          </section>
      </div>

      <div class="pwat-feedback-wrapper">
          <div class="pwat-bg-top-bottom">
              <img pwa-src="bg-home-feedback-top" />
          </div>
          <h2>
              quem usa,
              <span class="pwat-baginda">recomenda</span>
          </h2>
          <div class="pwat-feedback pwat-px-32">
              <div class="swiper-container pwat-swiper-feedbacks" pwa-hook="swiper-feedbacks">
                  <div class="swiper-wrapper">
                      <div class="swiper-slide">
                          <section class="pwat-feedback pwat-text-center pwat-py-32">
                              <div class="pwat-feedback-user-img">
                                  <img pwa-src="user-feedback-img" alt="foto do usuário" />
                              </div>

                              <div class="pwat-feedback-user-info pwat-py-16">
                                  <div class="pwat-feedback-user-stars">
                                      <img pwa-src="user-feedback-stars" alt="estrelas do feedback" />
                                  </div>
                                  <h3 class="pwat-feedback-user-title">Eu amei!</h3>
                                  <p class="pwat-feedback-user-text pwat-py-16">Me apaixonei, fui pra academia, pulei,
                                      dancei e nem
                                      lembrava que estava naqueles dias. Foi a melhor coisa que já inventaram, não sei
                                      como não comprei antes. Adeus absorventes, bem vindo mundo maravilhoso, mesmo
                                      naqueles dias.</p>
                                  <p class="pwat-feedback-user-name">Patrícia, 29 anos - MG</p>
                              </div>
                          </section>
                      </div>

                      <div class="swiper-slide">
                          <section class="pwat-feedback pwat-text-center pwat-py-32">
                              <div class="pwat-feedback-user-img">
                                  <img pwa-src="user-feedback-img" alt="foto do usuário" />
                              </div>

                              <div class="pwat-feedback-user-info pwat-py-16">
                                  <div class="pwat-feedback-user-stars">
                                      <img pwa-src="user-feedback-stars" alt="estrelas do feedback" />
                                  </div>
                                  <h3 class="pwat-feedback-user-title">Eu amei!</h3>
                                  <p class="pwat-feedback-user-text pwat-py-16">Me apaixonei, fui pra academia, pulei,
                                      dancei e nem
                                      lembrava que estava naqueles dias. Foi a melhor coisa que já inventaram, não sei
                                      como não comprei antes. Adeus absorventes, bem vindo mundo maravilhoso, mesmo
                                      naqueles dias.</p>
                                  <p class="pwat-feedback-user-name">Patrícia, 29 anos - MG</p>
                              </div>
                          </section>
                      </div>

                      <div class="swiper-slide">
                          <section class="pwat-feedback pwat-text-center pwat-py-32">
                              <div class="pwat-feedback-user-img">
                                  <img pwa-src="user-feedback-img" alt="foto do usuário" />
                              </div>

                              <div class="pwat-feedback-user-info pwat-py-16">
                                  <div class="pwat-feedback-user-stars">
                                      <img pwa-src="user-feedback-stars" alt="estrelas do feedback" />
                                  </div>
                                  <h3 class="pwat-feedback-user-title">Eu amei!</h3>
                                  <p class="pwat-feedback-user-text pwat-py-16">Me apaixonei, fui pra academia, pulei,
                                      dancei e nem
                                      lembrava que estava naqueles dias. Foi a melhor coisa que já inventaram, não sei
                                      como não comprei antes. Adeus absorventes, bem vindo mundo maravilhoso, mesmo
                                      naqueles dias.</p>
                                  <p class="pwat-feedback-user-name">Patrícia, 29 anos - MG</p>
                              </div>
                          </section>
                      </div>
                  </div>

                  <div class="swiper-pagination pwat-swiper-paginacao-calcinha  pwat-estilo-bullets "></div>
                        <div class="pwat-estilo-paginacao">
                      <div id="pwat-swiper-feedback-prev" class="swiper-button-prev">
                          <img pwa-src="arrow-left"/>
                      </div>
                      <div id="pwat-swiper-feedback-next" class="swiper-button-next">
                          <img pwa-src="arrow-right"/>
                      </div>
                  </div>
              </div>
          </div>
          <div class="pwat-bg-top-bottom">
              <img pwa-src="bg-home-feedback-bottom" />
          </div>
      </div>

      <section class="pwat-home-instagram">
          <h2 class="pwat-text-center">vem para nosso insta :) <br><span>@inciclo</span></h2>

          <div class="swiper-container pwat-swiper-instagram" pwa-hook="swiper-instagram">
              <div class="swiper-wrapper">
                  <div class="swiper-slide pwat-instagram-image">
                      <img pwa-src="instagram-1" alt="instagram" />
                  </div>

                  <div class="swiper-slide pwat-instagram-image">
                      <img pwa-src="instagram-2" alt="instagram" />
                  </div>

                  <div class="swiper-slide pwat-instagram-image">
                      <img pwa-src="instagram-3" alt="instagram" />
                  </div>

                  <div class="swiper-slide pwat-instagram-image">
                      <img pwa-src="instagram-4" alt="instagram" />
                  </div>

                  <div class="swiper-slide pwat-instagram-image">
                      <img pwa-src="instagram-5" alt="instagram" />
                  </div>

                  <div class="swiper-slide pwat-instagram-image">
                      <img pwa-src="instagram-6" alt="instagram" />
                  </div>

                  <div class="swiper-slide pwat-instagram-image">
                      <img pwa-src="instagram-1" alt="instagram" />
                  </div>

                  <div class="swiper-slide pwat-instagram-image">
                      <img pwa-src="instagram-2" alt="instagram" />
                  </div>

                  <div class="swiper-slide pwat-instagram-image">
                      <img pwa-src="instagram-3" alt="instagram" />
                  </div>
              </div>
          </div>
      </section>

</main>