<main id="Main" role="main">
  <!-- seção do banner principal -->
  <section class="nv-section nv-p-0" id="Banners">
    <div class="nv-banners-swiper" pwa-hook="nv-banner">
      <!-- bullets -->
      <button class="swiper-button-prev nv-banners-swiper__button nv-is-prev nv-button nv-preserv-default" type="button">
        <span class="nv-is-hidden">Anterior</span>
      </button>

      <!-- bullets -->
      <button class="swiper-button-next nv-banners-swiper__button nv-is-next nv-button nv-preserv-default" type="button">
        <span class="nv-is-hidden">Próximo</span>
      </button>

      <!-- paginação ( não sei por que tá em cima ) -->
      <div class="swiper-pagination nv-banners-swiper-pagination"></div>

      <!-- banner home principal -->
      <div class="swiper-container nv-banners-swiper-container">
        <div class="swiper-wrapper nv-banners-swiper-wrapper">
          
          <!-- link pra blusas -->
          <div class="swiper-slide nv-banners-swiper-slide">
            <a pwa-to-page="/blusas" class="nv-banner">
              <div class="nv-banner-image">
                <img class="nv-banner__img" pwa-src="banner-example-1" alt="Linha Confort" />
              </div>
            </a>
          </div>

          <!-- link para calças -->
          <div class="swiper-slide nv-banners-swiper-slide">
            <a pwa-to-page="/calças" class="nv-banner">
              <div class="nv-banner-image">
                <img class="nv-banner__img" pwa-src="banner-example-1" alt="Linha Confort" />
              </div>
            </a>
          </div>

          <!-- link para saias -->
          <div class="swiper-slide nv-banners-swiper-slide">
            <a pwa-to-page="/saias" class="nv-banner">
              <div class="nv-banner-image">
                <img class="nv-banner__img" pwa-src="banner-example-1" alt="Linha Confort" />
              </div>
            </a>
          </div>

          <!-- link para shorts -->
          <div class="swiper-slide nv-banners-swiper-slide">
            <a pwa-to-page="/shorts" class="nv-banner">
              <div class="nv-banner-image">
                <img class="nv-banner__img" pwa-src="banner-example-1" alt="Linha Confort" />
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- seção do slide de produtos -->
  <section class="nv-section">
    <div class="nv-container">
      <h2 class="nv-title nv-is-size-5 nv-mb-6 nv-title-15-dias">
        <a class="nv-is-underline" pwa-to-page="/calças">
          <span>Para acompanhar sua rotina, novas peças a cada 15 dias</span>
          <!-- <span class="nv-icon nv-is-size-6 nv-ml-5"><i class="nv-is-arrow-right-circle" aria-hidden="true"></i></span> -->
          <span>
            <svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M1.46293 0.474931C1.17294 0.219263 0.7306 0.247084 0.474931 0.537071C0.219263 0.827059 0.247084 1.2694 0.537071 1.52507L1.46293 0.474931ZM4.62033 4.19188L4.1574 4.71695L4.1574 4.71695L4.62033 4.19188ZM4.62033 5.80812L4.1574 5.28305L4.1574 5.28305L4.62033 5.80812ZM0.537071 8.47493C0.247084 8.7306 0.219263 9.17294 0.474931 9.46293C0.730599 9.75292 1.17294 9.78074 1.46293 9.52507L0.537071 8.47493ZM0.537071 1.52507L4.1574 4.71695L5.08326 3.66681L1.46293 0.474931L0.537071 1.52507ZM4.1574 5.28305L0.537071 8.47493L1.46293 9.52507L5.08326 6.33319L4.1574 5.28305ZM4.1574 4.71695C4.34753 4.88457 4.34753 5.11543 4.1574 5.28305L5.08326 6.33319C5.90558 5.60819 5.90558 4.39181 5.08326 3.66681L4.1574 4.71695Z"
                fill="#8C8A88" />
            </svg>
          </span>
        </a>
      </h2>

      <div class="nv-featured-swiper" pwa-hook="nv-featured-slide">
        <!-- slide bullets -->
        <button class="swiper-button-prev nv-featured-swiper__button nv-is-prev nv-button nv-preserv-default" type="button">
          <span class="nv-is-hidden">Anterior</span>
        </button>

        <!-- slide bullets -->
        <button class="swiper-button-next nv-featured-swiper__button nv-is-next nv-button nv-preserv-default" type="button">
          <span class="nv-is-hidden">Próximo</span>
        </button>

        <!-- slide container -->
        <pwa-product-list name="ofertas" class="swiper-container nv-featured-swiper-container">
          <div class="swiper-wrapper nv-featured-swiper-wrapper">
            <div pwa-each-product class="swiper-slide nv-featured-swiper-slide">
              <pwa-product-card>
            </div>
          </div>
        </pwa-product-list>

        <!-- slide pagination -->
        <div class="swiper-pagination nv-featured-swiper-pagination"></div>
      </div>
    </div>
  </section>

  <!-- seção das 3 imagens com texto de fundo desfocado -->
  <section class="nv-section" id="Categories">
    <div class="nv-container">
      <div class="nv-columns nv-is-desktop">
        <div class="nv-column nv-is-4-desktop">
          <div class="nv-category">
            <div class="nv-category-image"><img class="nv-category__img" pwa-src="cat-blusas"
                alt="Blusas a partir de R$ 59,90" /></div>
            <div class="nv-category-content">
              <p class="nv-category__title nv-title">Blusas a partir de R$ 59,90</p>
              <p class="nv-category__description">Peças confortáveis e cheias de estilo que te deixam pronta pra
                qualquer ocasião.</p>
            </div>
          </div>
        </div>
        <div class="nv-column nv-is-4-desktop">
          <div class="nv-category">
            <div class="nv-category-image"><img class="nv-category__img" pwa-src="cat-mascaras-antibacterianas"
                alt="Máscaras Antibacterianas" /></div>
            <div class="nv-category-content">
              <p class="nv-category__title nv-title">Máscaras Antibacterianas</p>
              <p class="nv-category__description">Máscaras sem costura, seguindo critérios da ANVISA e do FDA.</p>
            </div>
          </div>
        </div>
        <div class="nv-column nv-is-4-desktop">
          <div class="nv-category">
            <div class="nv-category-image"><img class="nv-category__img" pwa-src="cat-moda-consciente"
                alt="Moda Consciente" /></div>
            <div class="nv-category-content">
              <p class="nv-category__title nv-title">Moda Consciente</p>
              <p class="nv-category__description">Roupas produzidas a partir de tecidos sustentáveis. #savetheworld.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- seção do instagram -->
  <section class="nv-section" id="Instagram">
    <div class="nv-container">
      <div class="nv-columns nv-is-desktop">
        <div class="nv-column nv-is-3-desktop">
          <div class="nv-insta-box">
            <svg width="64" height="64" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd"
                d="M19.2 3.49091C10.5241 3.49091 3.49091 10.5241 3.49091 19.2V44.8C3.49091 53.4759 10.5241 60.5091 19.2 60.5091H44.8C53.4759 60.5091 60.5091 53.4759 60.5091 44.8V19.2C60.5091 10.5241 53.4759 3.49091 44.8 3.49091H19.2ZM0 19.2C0 8.59613 8.59613 0 19.2 0H44.8C55.4039 0 64 8.59613 64 19.2V44.8C64 55.4039 55.4039 64 44.8 64H19.2C8.59613 64 0 55.4039 0 44.8V19.2ZM32 19.4909C25.0914 19.4909 19.4909 25.0914 19.4909 32C19.4909 38.9086 25.0914 44.5091 32 44.5091C38.9086 44.5091 44.5091 38.9086 44.5091 32C44.5091 25.0914 38.9086 19.4909 32 19.4909ZM16 32C16 23.1634 23.1634 16 32 16C40.8366 16 48 23.1634 48 32C48 40.8366 40.8366 48 32 48C23.1634 48 16 40.8366 16 32ZM48.291 9.89087C50.0583 9.89087 51.491 11.3236 51.491 13.0909C51.491 14.8582 50.0583 16.2909 48.291 16.2909C46.5237 16.2909 45.091 14.8582 45.091 13.0909C45.091 11.3236 46.5237 9.89087 48.291 9.89087Z"
                fill="#41403F" />
            </svg>

            <p class="nv-insta-box__title"><a href="https://instagram.com/navystorefashion" target="_blank"
                rel="noreferrer">@navystorefashion</a></p>
            <p class="nv-insta-box__description"><span>Compre os looks diretamente do insta e acompanhe o
              </span><span><a href="#universonavy" rel="noreferrer">#universonavy</a></span></p>
          </div>
        </div>

        <div class="nv-column nv-is-9-desktop">
          <div class="nv-insta-swiper swiper-container js-swiper-mobile" pwa-hook="nv-swipers-mobile">
            <button class="swiper-button-prev nv-insta-swiper__button nv-is-prev nv-button nv-preserv-default"
              type="button"><span class="nv-is-hidden">Anterior</span></button>
            <button class="swiper-button-next nv-insta-swiper__button nv-is-next nv-button nv-preserv-default"
              type="button"><span class="nv-is-hidden">Próximo</span></button>
            <div class="nv-insta-swiper-wrapper swiper-wrapper">
              <div class="nv-insta-swiper-slide swiper-slide">
                <div class="nv-insta-image"><img class="nv-insta__img" pwa-src="insta-gallery-1"
                    alt="Instagram Title" /></div>
              </div>
              <div class="nv-insta-swiper-slide swiper-slide">
                <div class="nv-insta-image"><img class="nv-insta__img" pwa-src="insta-gallery-2"
                    alt="Instagram Title" /></div>
              </div>
              <div class="nv-insta-swiper-slide swiper-slide">
                <div class="nv-insta-image"><img class="nv-insta__img" pwa-src="insta-gallery-3"
                    alt="Instagram Title" /></div>
              </div>
            </div>
            <div class="nv-insta-swiper-pagination swiper-pagination"></div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- seção dos 4 blocos de imagem com #universonavy -->
  <section class="nv-section" id="Pros">
    <div class="nv-container">
      <h2 class="nv-title nv-has-text-centered" style="font-size: 23px; margin-bottom: 70px">
        Descubra toda a versatilidade e conforto do básico
      </h2>
      <div class="nv-pros-swiper swiper-container js-swiper-mobile" pwa-hook="nv-swipers-mobile">
        <button class="swiper-button-prev nv-pros-swiper__button nv-is-prev nv-button nv-preserv-default"
          type="button"><span class="nv-is-hidden">Anterior</span></button>
        <button class="swiper-button-next nv-pros-swiper__button nv-is-next nv-button nv-preserv-default"
          type="button"><span class="nv-is-hidden">Próximo</span></button>
        <div class="nv-pros-swiper-wrapper swiper-wrapper">
          <div class="nv-pros-swiper-slide swiper-slide">
            <div class="nv-pro">
              <div class="nv-pro-image"><img class="nv-pro__img" pwa-src="pro-melhor-custo-x-beneficio"
                  alt="Melhor Custo x Benefício" /></div>
              <div class="nv-pro-content">
                <h3 class="nv-pro__title nv-title">Melhor Custo x Benefício</h3>
                <p>Valorizamos nossa mão de obra e reduzimos nossa margem para garantir preços acessíveis e boas
                  condições de trabalho para nossas costureiras.</p>
              </div>
            </div>
          </div>
          <div class="nv-pros-swiper-slide swiper-slide">
            <div class="nv-pro">
              <div class="nv-pro-image"><img class="nv-pro__img" pwa-src="pro-qualidade-que-voce-merece"
                  alt="Qualidade que você merece" /></div>
              <div class="nv-pro-content">
                <h3 class="nv-pro__title nv-title">Qualidade que você merece</h3>
                <p>Sem bolinhas, sem manchas, sem desbotar. Selecionamos os melhores tecidos para que suas peças
                  continuem lindas mesmo com o passar do tempo.</p>
              </div>
            </div>
          </div>
          <div class="nv-pros-swiper-slide swiper-slide">
            <div class="nv-pro">
              <div class="nv-pro-image"><img class="nv-pro__img" pwa-src="pro-todo-cuidado-com-seu-pedido"
                  alt="Todo cuidado com seu pedido" /></div>
              <div class="nv-pro-content">
                <h3 class="nv-pro__title nv-title">Todo cuidado com seu pedido</h3>
                <p>Cada pedido feito no site é enviado na nossa caixinha com o cheirinho da Navy. Suas peças são
                  envolvidas no papel seda com um laço de cetim para finalizar.</p>
              </div>
            </div>
          </div>
          <div class="nv-pros-swiper-slide swiper-slide">
            <div class="nv-pro">
              <div class="nv-pro-image"><img class="nv-pro__img" pwa-src="pro-entrega-rapida-e-troca-facil"
                  alt="Entrega rápida e troca fácil" /></div>
              <div class="nv-pro-content">
                <h3 class="nv-pro__title nv-title">Entrega rápida e troca fácil</h3>
                <p>Despachamos seu pedido em até dois dias úteis e entregamos no mesmo dia para Piracicaba. E, se
                  precisar, o frete da sua primeira troca é por nossa conta.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="nv-pros-swiper-pagination swiper-pagination"></div>
      </div>
      <div class="nv-has-text-centered nv-mt-6"><a class="nv-button nv-is-primary" href="#about">Conheça o
          #universonavy</a></div>
    </div>
  </section>

  <!-- modal de newsletter -->
  <div class="js-modal nv-modal" id="NewsletterModal" data-modal-name="search" pwa-hook="nv-modal">
    <div class="nv-modal-wrapper" style="max-width: 600px"><span class="nv-modal__icon"><img
          src="/assets/svg/icon-modal-email.svg" alt="" /></span>
      <div class="nv-modal-header">
        <p class="nv-modal__title nv-title">Quase lá! Informe seus dados e receba um desconto especial.</p>
        <button class="js-modal-trigger nv-modal-close" type="button" data-modal-action="close"><span
            class="nv-is-hidden">Fechar</span></button>
      </div>
      <div class="nv-modal-body">
        <form action="javascript:void">
          <div class="nv-field">
            <div class="nv-control">
              <input class="nv-input nv-is-large" type="text" placeholder="Nome" />
            </div>
          </div>
          <div class="nv-field">
            <div class="nv-control">
              <input class="nv-input nv-is-large" type="email" placeholder="Email" />
            </div>
          </div>
          <div class="nv-field">
            <div class="nv-control">
              <button class="nv-button nv-is-primary nv-is-fullwidth" type="submit">
                Quero meu desconto

              </button>
            </div>
          </div>
        </form>
        <hr />
        <p class="nv-is-size-7">
          Ao continuar, você concorda em receber e-mails com novidades e ofertas da Navy.
          Todos os detalhes dos seus direitos em relação aos seus dados estão definidos em nossa <a
            href="#politica-de-seguranca">Política de Segurança</a>.
        </p>
      </div>
    </div>
  </div>
</main>