<!-- cartão de produto -->
<div class="nv-product">
  <div class="nv-product-image">
    <!-- modal compra rápida -->
    <!-- <div class="nv-product-filter-size">
      <button class="nv-product-filter-size__close" type="button"><span class="nv-is-hidden">Fechar</span></button>
      <p class="nv-product-filter-size__title">Compra Rápida</p>
      <div class="nv-filter">
        <label class="nv-filter__size">
          <input type="radio" name="filter-size-input-420" value="P" checked="checked" /><span>P</span>
        </label>

        <label class="nv-filter__size">
          <input type="radio" name="filter-size-input-420" value="M" /><span>M</span>
        </label>

        <label class="nv-filter__size">
          <input type="radio" name="filter-size-input-420" value="G" /><span>G</span>
        </label>

        <label class="nv-filter__size">
          <input type="radio" name="filter-size-input-420" value="GG" /><span>GG</span>
        </label>
      </div>

    </div> -->
    
    <!-- <img class="nv-product__img" pwa-src="product.image" alt="Vestido Midi Cavado Faixa Texto Example Ellipsis" />     -->
    <img class="nv-product__img" pwa-src="prod-example-1-image-1" alt="Vestido Midi Cavado Faixa Texto Example Ellipsis" />
  </div>

  <a pwa-to-product-page class="nv-product-content">
    <div class="nv-product-content-header">
      <p class="nv-product__title" title="Vestido Midi Cavado Faixa Texto Example Ellipsis">
        {{ product.name }}
      </p>

      <div pwa-is-logged>
        <a pwa-add-wishlist ><img pwa-src="icon-heart" alt="Adicionar nos favoritos"></a>
        <a pwa-remove-wishlist ><img pwa-src="icon-heart-o" alt="Remover dos favoritos"></a>
      </div>
    </div>

    <div class="nv-product-content-body">
      <div class="nv-product-prices">
        <p class="nv-product__price">{{ product.price | price }}</p>
        <p class="nv-product__price-details">5x {{product.price/5 | price }}</p>
      </div>

      <!-- color bullets do produto -->
      <!-- <p class="nv-product-colors">
        <label class="nv-product__color nv-is-ciano">
          <input type="radio" name="product-color-input-2" value="ciano" /><span></span>
        </label>
        <label class="nv-product__color nv-is-sonic-silver">
          <input type="radio" name="product-color-input-2" value="sonic-silver" /><span></span>
        </label>
        <label class="nv-product__color nv-is-chestnut">
          <input type="radio" name="product-color-input-2" value="chestnut" /><span></span>
        </label>
      </p> -->
    </div>
  </a>
</div>