#Header {
    background-color: white;
    position: relative;
  }
  #Header:not(.nv-has-overlay) {
    overflow: hidden;
  }
  #HeaderTop {
    background-color: #272626;
    color: #FFFFFF;
    font-size: 0.75rem;
    padding-bottom: 0.75rem;
    padding-top: 0.75rem;
    letter-spacing: 0.1em;
  }
  #HeaderMiddle {
    border-bottom: 1px solid #F7F7F8;
  }
  @media screen and (max-width: 1023px) {
    #HeaderMiddle {
      padding-top: 0.75rem;
      padding-bottom: 0.75rem;
    }
  }
  #HeaderBottom {
    padding: 0;
    position: relative;
  }
  #HeaderBottom > .nv-container {
    position: static;
  }
  
  .nv-header {
    padding: 1.5rem 1.5rem;
  }
  
  .nv-nav-menu {
    display: flex;
    flex-wrap: wrap;
    margin: -0.75rem;
  }
  /* .nv-nav-menu__item {
    display: block;
    flex: none;
    max-width: 16.6666666667%;
    padding: 0.75rem;
    width: 112px;
  } */
  .nv-nav-menu__item.nv-has-submenu.nv-is-active > .nv-nav-submenu-wrapper {
    display: block;
  }
  .nv-nav-menu__item.nv-has-submenu:hover > .nv-nav-submenu-wrapper {
    display: block !important;
  }
  
  .nv-nav-menu__link {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: rgba(140, 138, 136, 0.7);
    display: block;
    font-size: 12px;
    letter-spacing: 0.05em;
    line-height: 4.5;
    position: relative;
    text-align: center;
    text-transform: uppercase;
  }
  .nv-nav-menu__link > span {
    display: inline-block;
      pointer-events: none;
      position: relative;
  }
  .nv-nav-menu__link > span::after {
    width: 0;
    height: 1px;
    background-color: #000000;
    bottom: 0;
    content: "";
    left: 0;
    pointer-events: none;
    position: absolute;
    transition: width 0.3s ease;
    visibility: hidden;
  }
  .nv-nav-menu__item.nv-is-active .nv-nav-menu__link {
    color: #41403F;
  }
  .nv-nav-menu__item.nv-is-active .nv-nav-menu__link > span::after {
    visibility: visible;
    width: 100%;
  }
  .nv-nav-menu__item:hover .nv-nav-menu__link {
    color: #41403F;
  }
  .nv-nav-menu__item:hover .nv-nav-menu__link > span {
    position: static;
  }
  .nv-nav-submenu-wrapper {
    background-color: white;
    border-top: 1px solid #F7F7F8;
    box-shadow: 0px 20px 20px -12px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 3rem 1.5rem;
    /* position: absolute; */
    top: calc(54px + 0.75rem);
    width: 100%;
    z-index: 99;
  }
  .nv-nav-submenu {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 300px;
    margin: -0.5rem;
    max-height: 300px;
  }
  .nv-nav-submenu__item {
    display: block;
    padding: 0.5rem;
  }
  .nv-nav-submenu__item.nv-is-separator {
    flex: none;
    height: calc(100% - (3 * 40px));
  }
  .nv-nav-submenu__item.nv-is-separator > .nv-nav-submenu__link {
    border-top: 1px solid lightgrey;
    color: #41403F;
    padding-top: 0.75rem;
  }
  .nv-nav-submenu__item.nv-is-separator > .nv-nav-submenu__link::after {
    font-family: "icon" !important;
    speak: never;
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: pwa-url(icon-arrow);
    display: inline;
    font-size: 1.5em;
    vertical-align: middle;
  }
  .nv-nav-submenu__link {
    color: #8C8A88;
    display: inline-block;
    font-size: 0.75rem;
    font-weight: 500;
    letter-spacing: 0.12em;
    text-transform: uppercase;
  }
  .nv-nav-submenu__link:hover {
    color: rgba(140, 138, 136, 0.6);
  }
  .nv-nav-submenu__title {
    font-size: 1.25rem;
  }
  .nv-nav-submenu__img {
    width: 100%;
    height: 100%;
    border-radius: inherit;
    display: block;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .nv-button__help:not(.nv-preserv-default) {
    background-color: transparent;
    border-color: transparent;
    color: #8C8A88;
    font-size: 12px;
    height: auto !important;
    line-height: 4.5;
    padding: 0;
  }
  .nv-button__help:not(.nv-preserv-default):hover {
    color: #000000;
  }
  .nv-button__help:not(.nv-preserv-default) .nv-icon {
    margin-right: 0.5em !important;
  }
  .nv-button__help:not(.nv-preserv-default) .nv-icon > i::before {
    font-size: 1.5em;
  }
  .nv-button__help:not(.nv-preserv-default).nv-is-active {
    border-bottom-color: #000000;
    z-index: 99;
  }
  .nv-button__help {
      display: flex;
      align-items: center;
      overflow: none;
  }
  .nv-button__help img {
      margin-right: 17px;
  }
  
  #HelpSubmenu {
    width: 100%;
    height: auto;
    background-color: white;
    border: 1px solid #F7F7F8;
    box-shadow: 0px 20px 20px -12px rgba(0, 0, 0, 0.2);
    left: 0;
    position: absolute;
    top: calc(54px + 0.75rem);
    z-index: 98;
  }
   #HelpSubmenu:not(.nv-is-active) {
    display: none;
  }
  
  .nv-frete-swiper-container {
      width: 80% !important;
  }
  
  .nv-button-swiper-ant-banner {
      top: 50%;
      transform: translateY(-50%);
      margin: 0 !important;
      outline: 0;
  }
  
  .nv-button-swiper-ant-banner:hover {
      border: none;
  }
  
  .nv-button-swiper-ant-banner:active {
      border: none;
      color: rgba(255, 255, 255, 0.4);
  }
  
  .nv-button-swiper-prev-banner {
      left: 0px !important;
  }
  
  .nv-button-swiper-next-banner {
      right: 0px !important;
  }
  
  .nv-input-search input{
      border: none;
      outline: 0;
  }
  
  .nv-modal hr {
      margin: 40px 0 44px 0;
  }
  
  .nv-title-search {
      margin-bottom: 24px;
  }
  
  .nv-tags-search .nv-tag{
      background: #FEFEFE;
      color: #606062;
  }
  
  @media (max-width: 400px) {
      .nv-button-swiper-prev-banner {
          left: -12px !important;
      }
  
      .nv-button-swiper-next-banner {
          right: -12px !important;
      }
  }

#nav .nv-nav-menu {
    margin: 0 auto;
    align-items: center;
}

#nav .nv-nav-menu:last-child {
    margin-right: unset;
    margin-left: unset;
}

#nav .nv-nav-menu:first-child {
    width: 537px;
    display: flex;
    justify-content: space-between;
    margin-right: 177px;
}